@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:wght@300&display=swap');
body{
  font-family: 'Anton', sans-serif;
  /* font-family: 'Lato', sans-serif; */
}
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color:gold;
  padding: 4px 25px;
  text-align: center;
}